
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


:root {
  --background-color: #1e1e2f;  /* Default background color (dark theme) */
  --menu-background-color: #232336; /* Default menu background color (dark theme) */
  --text-color: #ffffff;  /* Default text color (light theme) */
  --text-black-color: #232336;  /* Default text color (light theme) */
  --text-color-secondary: #a5a5a5;
  --text-color-titles: #ffffff;
  --primary-color: #9d4edd;
  --accent-color: #ffffff;
  --border-color: #3a3a4a;
  --font-family: 'Poppins', sans-serif;
  --white-color: #3a3a4a;
}
/* :root { */
/*   --background-color: #1f1f1f; */
/*   --menu-background-color: #2c2c2c; */
/*   --text-color: #e0e0e0; */
/*   --text-color-secondary: #a5a5a5; */
/*   --text-color-titles: #e0e0e0; */
/*   --primary-color: #9d4edd; */
/*   --accent-color: #5352ed; */
/*   --border-color: #353535; */
/*   --font-family: 'Poppins', sans-serif; */
/* } */

/* :root { */
/*   --background-color: #1f1f1f; */
/*   --menu-background-color: #2c2c2c; */
/*   --text-color: #e0e0e0; */
/*   --text-color-secondary: #a5a5a5; */
/*   --text-color-titles: #e0e0e0; */
/*   --primary-color: #9d4edd; */
/*   --accent-color: #5352ed; */
/*   --border-color: #353535; */
/*   --font-family: 'Poppins', sans-serif; */
/* } */
